/* 
 * (C) 2015 TekMonks. All rights reserved.
 * License: GPL2 - see enclosed license.txt file.
 */
 .calci
 {
     background-image: radial-gradient( rgba(70, 0, 128, 0), rgba(89, 0, 255, 0.438));
     height: 50%;
     width: 50%;
     margin-top:10%;
     margin-left:25%;
     border-style: solid;
     border-radius: 2%;
     border-color: rgb(128, 0, 128);
 }

 .bttn
{   
    margin-top: 5%;
    margin-left: 37%;
    width: 24%;
    height: 10%;
    color:white;
    background-color:rebeccapurple;
}

.btn:hover
{
    color: rgb(49, 0, 128);
    background-color: seashell;
}

.heads
{
    margin-left: 39%;
    margin-top: 2%;
    color:rgb(49, 0, 128);
}

.tab
{
    margin-left: 7%;
    border-style: outset;
}

.text
{
    color: rgb(49, 0, 128);
    margin-left:10% ;
}

.result
{
    margin-left: 10%;
    color: rgb(49, 0, 128);
    margin-top: 4%;
    width: 100%;
    display: inline-block;
}

.output
{
    width: 27%;
    height: 5%;
    background-color: white;
    margin-left: 18%;
    display: inline-block;
    border-style: outset;
    border-width: 0%;
}
