/* 
 * (C) 2015 TekMonks. All rights reserved.
 * License: GPL2 - see enclosed license.txt file.
 */

.calci
{
    background-image: radial-gradient( rgba(70, 0, 128, 0), rgba(89, 0, 255, 0.438));
    height: 50%;
    width: 50%;
    margin-top:10%;
    margin-left:25%;
    border-style: solid;
    border-radius: 2%;
    border-color: rgb(128, 0, 128);
}
.btn
{   
    margin-top: 10%;
    width: 24%;
    height: 15%;
    color:white;
    background-color: rebeccapurple;
}

.btn:hover
{
    color: rgb(49, 0, 128);
    background-color: seashell;
}


.head
{
    margin-left: 32%;
    margin-top: 2%;
    color:rgb(49, 0, 128);
}