<head>
	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

	<title>Calculator</title>

	<!-- Init the global namespace -->
	<script type="text/javascript" src="/framework/js/$$.js"></script>

	<!-- And off we go ... -->
	<script type="text/javascript">$$.boot(new URL("./", window.location));</script>

</head>
</html>